@import "tailwindcss";

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikTRIAL-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikTRIAL-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikTRIAL-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikTRIAL-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikTRIAL-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikTRIAL-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@theme {
  --color-primary: #537F68;
  --font-sans: 'Aeonik', sans-serif;
  --container-8xl: 100rem;
}

* {
  font-family: 'Aeonik', sans-serif;
}

.table-scroll {
  overflow-x: auto;
  scrollbar-width: auto;
  scrollbar-color: #537F68 #F0EBE3;
}
.table-scroll::-webkit-scrollbar {
  height: 14px;
}
.table-scroll::-webkit-scrollbar-track {
  background: #F0EBE3;
  border-radius: 0;
  margin-left: 20px;
  margin-right: 20px;
}
.table-scroll::-webkit-scrollbar-thumb {
  background: #537F68;
  border-radius: 0;
  border: 3px solid #F0EBE3;
}
