@import "tailwindcss";

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikTRIAL-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikTRIAL-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikTRIAL-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikTRIAL-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikTRIAL-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikTRIAL-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@theme {
  --color-primary: #537F68;
  --font-sans: 'Aeonik', sans-serif;
  --container-8xl: 100rem;
}

* {
  font-family: 'Aeonik', sans-serif;
}
